* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.applications {
    margin: 10px 0;
}

.tech {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.checkbox {
    display: inline-block;
    flex-direction: row;
}

.tech input {
    margin: 5px 5px;
}

.textarea {
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 5px 0;
}

.textarea textarea {
    padding: 5px;
}

.submit {
    margin: 15px 0;
    width: 90px;
    height: 35px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
}

.submit:active {
    box-shadow: 0 5px white;
    transform: translateY(4px);
  }

textarea {
    border: 1px solid rgba(150, 150, 150, 0.63);
    border-radius: 5px;
}

.submit:hover {
    background-color: white;
    color: black;
    transition: ease 0.3s all;
}